<div id="{{ widgetId }}" class="is-loading">
    <div class="o-section position-relative">
        <div class="js-tabulator"></div>
        {{> charcoal/admin/widget/inc.loader }}
    </div>
    <div class="section mt-2">
        <button class="btn btn-success js-add-row">
            <i class="fa fa-plus-circle fa-lg"></i> &nbsp; Add Row
        </button>
        <button class="btn btn-success js-import">
            <i class="fa fa-upload fa-lg"></i> &nbsp; Import
        </button>
        <input type="file" id="fileContainer" accept="csv/*" style="display:none">
        <button class="btn btn-primary js-update float-right" disabled>
            <span class="js-loader d-none">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                &nbsp; Loading...
            </span>
            <span>
                <i class="fa fa-floppy-o fa-lg"></i> &nbsp; Update
            </span>
        </button>
    </div>
</div>

{{ assets.enqueue.module.tabulator_js }}
{{ assets.enqueue.css.tabulator_css }}
{{ assets.enqueue.module.redirection_list_js }}

{{# assets.inject.module }}

    Charcoal.Admin.manager().add_widget({
        id: '{{ widgetId }}',
        selector: '#{{ widgetId }}',
        type: '{{ type }}',
        widget_type: '{{ type }}',
        redirections: '{{& redirections }}',
        object_type: '{{& objectType }}'
    });

{{/ assets.inject.module }}